* {
  box-sizing: border-box;
}

html {
  background-image: url("https://cdn.pixabay.com/photo/2013/04/03/10/33/yin-yang-99824_960_720.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-color: black;
  min-height: 100%;
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
}


#container {
  text-align: center;
  margin: auto;
}

#messages {
  height: 200px;
  color: #ced6e0;
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 10px;
  font-family: 'Nanum Brush Script', cursive;
  text-shadow: 1px 1px black;
}

#btn1,
#btn2,
#btn3 {
  outline: none;
  width: 200px;
  height: 200px;
  background-color: #70a1ff;
  border: 1px solid black;
  color: #2f3542;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  font-family: 'Nanum Brush Script', cursive;
}

#btn1:active,
#btn2:active,
#btn3:active {
  background-color: #3e8e41;
  -moz-box-shadow: 0px 0px 75px #FFFF33;
  -webkit-box-shadow: 0px 0px 75px #FFFF33;
  transform: translateY(2px);
}

#btn1:hover {
  background-image: url("https://images.pexels.com/photos/9267/earth-summer-garden-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  min-height: 100%;
  text-align: center;
  filter: grayscale(70%);
}

#btn2:hover {
  background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  min-height: 100%;
  text-align: center;
  filter: grayscale(70%);
}

#btn3:hover {
  background-image: url("https://images.pexels.com/photos/1319460/pexels-photo-1319460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  min-height: 100%;
  text-align: center;
  filter: grayscale(70%);
}

#results {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#res1,
#res2 {
  font-size: 40px;
  color: #ced6e0;
  width: 200px;
  text-shadow: 1px 1px black;
}

#res1 {
  margin-left: 20%;
}

#res2 {
  margin-right: 20%;
}

#score1,
#score2 {
  font-size: 50px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #F8DE7E, 0 0 20px #F8DE7E, 0 0 30px #F8DE7E, 0 0 40px #F8DE7E, 0 0 50px #F8DE7E, 0 0 60px #F8DE7E, 0 0 70px #F8DE7E;
  }
  
  to {
    text-shadow: 0 0 20px #FFFF33, 0 0 30px #FFFF33, 0 0 40px #FFFF33, 0 0 50px #FFFF33, 0 0 60px #FFFF33, 0 0 70px #FFFF33, 0 0 80px #FFFF33;
  }
}




#over {
  text-align: center;
  height: 130px;
}

.btn {
  background-color: #ff6b81;
  border: 2px solid black;
  width: 200px;
  height: 120px;
  color: #2f3542;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Nanum Brush Script';
  white-space: pre;
}


@media only screen and (max-width: 600px) {
  #res1 {
  margin-left: 5%;
}

#res2 {
  margin-right: 5%;
}
}

